# Arquivos YAML dentro do diretorio workflows
.github/workflows/*.yml    @Grupo-GCB/squad-platform-engineering


# Arquivo Dockerfile
./Dockerfile                 @Grupo-GCB/squad-platform-engineering


# Arquivo CODEOWNERS
.github/CODEOWNERS                @Grupo-GCB/squad-platform-engineering

    
* @Grupo-GCB/squad-platform-engineering @Grupo-GCB/gcb
